@use '../variables';

.badge:not(.non-clickable-user) {
    transition: 0.07s;
}

.badge:not(.non-clickable-user):hover {
    background-color: variables.$primary !important;
    color: white !important;
}