@use 'variables';
@import "../bootstrap/scss/functions";

$primary: variables.$primary;
$secondary: variables.$secondary;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 930px,
        xl: 1100px,
        xxl: 1230px
);


@import "../bootstrap/scss/bootstrap.scss";

.container {
    min-height: 88vh;
}

a {
    text-decoration: none;
}

.credits {
    background-color: $gray-300;
}

pre code {
    background-color: rgb(245, 245, 245);
    border: 1px solid #999;
    display: block;
    padding: 15px 58px 15px 15px;
    width: 100%;
    overflow-x: auto;
    white-space: pre-wrap;
}

.code-copy-button {
    z-index: 11;
    position: absolute;
    top: 0; right: 0;
}

.funding-partner-logo {
    max-height: 100px;
    object-fit: contain;
    object-position: left;
}