{% extends 'templates/layout.html' %}

{% block head %}

<link rel="stylesheet" href="{{ PREFIX }}/assets/css/publications/all.css">

{% endblock %}

{% block body %}

{% include 'templates/navbar.html' %}

<div class="container">

    <h1 class="display-5">Publications</h1>

    <button class="btn btn-primary mb-3 mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#publication-filters">
        Filter publications
    </button>

    <div class="collapse" id="publication-filters">
        <div class="card card-body">
            <div class="row row-cols-3">
                <div class="col col-3">
                    <h3>Years</h3>
                    {% for decade in ['2020s', '2000s', '1990s'] %}
                        <div class="fs-4">

                        <span class="badge bg-secondary text-dark my-2" type="button" data-bs-toggle="collapse" data-bs-target="#decade-{{ decade }}">
                            {{ decade }}
                        </span>
                        <div class="collapse mb-3 mt-2" id="decade-{{ decade }}">
                            {% for year in query_object('years', ['decade'], decade, all_objects)[0] %}
                                <a href="{{ PREFIX }}/years/{{ year.urlsafe.cdata }}.html"><span class="badge bg-secondary text-dark">{{ year.urlsafe.cdata }}</span></a>
                            {% endfor %}
                        </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col col-5">
                    <h3>Professors</h3>
                    <p class="fs-4">
                        {% for member in members|custom_filter('lambda x: x.type.cdata == "Professor"') %}
                            <a href="{{ PREFIX }}/members/{{ member.urlsafe.cdata }}.html"><span class="badge bg-secondary text-dark">{{ member.name.cdata }}</span></a>
                        {% endfor %}
                    </p>
                </div>
                <div class="col col-4">
                    <h3>Venues</h3>
                    <p class="fs-4">
                        {% for venue in venues %}
                            <a href="{{ PREFIX }}/venues/{{ venue.urlsafe.cdata }}.html"><span class="badge bg-secondary text-dark">{{ venue.acronym.cdata }}</span></a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>


    {% include 'assets/widgets/all-publications.html' %}

</div>

{% endblock %}