{% extends 'templates/layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ PREFIX }}/assets/css/publications/specific.css">

{% endblock %}

{% block body %}

    {% include 'templates/navbar.html' %}

    <div class="container mt-3">

        <h1 class="display-6">{{ data.title.cdata }}</h1>

        {# If the publication's authors are defined, then show each author as a Bootstrap badge #}
        {% if data.authors is not none or data.authors_not_in_swag is not none %}
            <p class="fs-4"><b>Authors:</b>
                {% for author, in_swag in utils.get_publication_authors(data) %}
                    {% if in_swag %}
                        <a href="{{ PREFIX }}/members/{{ author.urlsafe.cdata }}.html"><span class="badge bg-secondary text-dark">{{ author.publication_name.cdata }}</span></a>
                    {% else %}
                        <span class="badge bg-secondary text-dark non-clickable-user">{{ author.cdata }}</span>
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}

        {# Display the publication's venue #}
        <p class="fs-4"><b>Venue:</b>
            {% if data.venues is not none %}
                <a href="{{ PREFIX }}/venues/{{ data.venues[0].urlsafe.cdata }}.html"><span class="badge bg-secondary text-dark">{{ data.venues[0].acronym.cdata }}</span></a>
                &nbsp;
            {% endif %}
            {{ utils.get_venue(data) }}
        </p>

        {% if data.years is not none %}
            <p class="fs-4"><b>Year:</b>
                <a href="{{ PREFIX }}/years/{{ data.years[0].urlsafe.cdata }}.html"><span
                        class="badge bg-secondary text-dark">{{ data.years[0].urlsafe.cdata }}</span></a>
            </p>
        {% endif %}

        {# If the publication's tags are defined, then show each tag as a Bootstrap badge #}
        {% if data.tags is not none %}
            <p class="fs-4"><b>Tags:</b>
                {% for tag in data.tags %}
                    <a href="{{ PREFIX }}/tags/{{ tag.urlsafe.cdata }}.html"><span
                            class="badge bg-secondary text-dark">{{ tag.name.cdata }}</span></a>
                {% endfor %}
            </p>
        {% endif %}

        {# If the publication's abstract is defined, then display it #}
        {% if data.abstract is not none %}
            <p class="fs-4 lh-sm"><b>Abstract:</b> {{ data.abstract.cdata|safe }}</p>
        {% endif %}

        {% if data.tools is not none %}
            <h4 class="lh-sm"><b>Tools</b></h4>
            <ul class="fs-4 lh-sm">
                {% for tool in data.tools.link %}
                    <li><a target="_blank" href="{{ PREFIX }}{{ tool.cdata }}">{{ tool['name'] }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {# If the publication's preprint is given, then display the link #}
        {% if data.preprint is not none %}
            <p class="fs-4"><b>Preprint:</b> <a target="_blank" href="{{ data.preprint.cdata }}">PDF</a></p>
        {% endif %}

        <p class="fs-4"><b>BibTeX:</b></p>
        <div class="copy-code">
            <pre><code>{{ utils.get_bibtex(data) }}</code></pre>
        </div>
        <p class="fs-4"><b>Plain Text:</b></p>
        <div class="copy-code">
            <pre><code>{{ utils.get_plain_citation(data) }}</code></pre>
        </div>

    </div>

{% endblock %}
