.badge:not(.non-clickable-user) {
  transition: 0.07s;
}

.badge:not(.non-clickable-user):hover {
  background-color: #820a26 !important;
  color: white !important;
}

.card-hover:hover {
  box-shadow: 0 14px 14px 2px rgba(0, 0, 0, 0.1);
}

.card-hover {
  transition: 0.3s;
}

body {
  background-color: whitesmoke;
}

.profile-pic {
  border-radius: 50%;
  border: 4px black solid;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-pic-container {
  width: 100%;
  position: relative;
}

.profile-pic-container::after {
  padding-bottom: 100%;
  content: "";
  display: block;
}

[id] {
  scroll-margin-top: 5rem;
}

@media only screen and (max-width: 528px) {
  [id] {
    scroll-margin-top: 8rem;
  }
}
.buttons-flex {
  gap: 0.5rem;
}

/*# sourceMappingURL=specific.css.map */
