{% extends 'templates/layout.html' %}

{% block head %}

<link rel="stylesheet" href="{{ PREFIX }}/assets/css/tools/all.css">

{% endblock %}

{% block body %}

{% include 'templates/navbar.html' %}

<div class="container">

    <h1 class="display-5">Tools</h1>

    {%- for tool in tools -%}

        {% include 'assets/widgets/tool.html' %}

    {% endfor %}

</div>

{% endblock %}