{% extends 'templates/layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ PREFIX }}/assets/css/venues/specific.css">

{% endblock %}

{% block body %}

    {% include 'templates/navbar.html' %}

    <div class="container mt-3">

        <h1 class="display-5">{{ data.name.cdata }} ({{ data.acronym.cdata }})</h1>


        {% if data.publications is not none %}
            <hr>
            <h1 class="display-6">Publications</h1>
            {% for publication in data.publications|custom_sort('lambda x: x.years[0].urlsafe.cdata', reverse=True) %}
                {% include 'assets/widgets/publication.html' %}
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}
