{% extends 'templates/layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ PREFIX }}/assets/css/members/all.css">

{% endblock %}

{% block body %}

    {% include 'templates/navbar.html' %}

    <div class="container">

        <h1 class="display-5">Members</h1>

        {# Sets each type of member (in-order), with the singular and plural of each type #}
        {% set member_types = [('Professor', 'Professors'), ('Post-doc', 'Post-docs'), ('Visitor', 'Visitors'),
    ('Staff', 'Staff'), ('Student', 'Students'), ('Intern', 'Interns'), ('Alumni', 'Alumni')] %}

        {% for type in member_types %}

            {# Query for the current type of member #}
            {% set current = members|custom_filter('lambda x: x.type.cdata == "' + type[0] + '"') %}

            {# If type is student, then put PhD Students, then MMath Students, and sort #}
            {% if type[0] == 'Student' %}

                {% if current|length != 0 %}
                    <hr>
                    <h1 class="display-6">{{ type[1] }}</h1>
                    <div class="row justify-content-center">
                        {% for member in current|custom_filter('lambda x: x.headline.cdata == "PhD Student"')|custom_sort(key='lambda x: x.name.cdata.split()[-1]') %}
                            <div class="col col-md-3 col-sm-6 col-12 my-4 text-center">
                                <a class="member-link" href="{{ PREFIX }}/members/{{ member.urlsafe.cdata }}.html">
                                    <div class="profile-pic-container">
                                        <img src="{{ PREFIX }}{{ member.picture.cdata }}"
                                             alt="{{ member.name.cdata }}'s profile picture"
                                             class="profile-pic">
                                    </div>
                                    <h2>{{ member.name.cdata }}</h2>
                                </a>
                                <h5>{{ member.headline.cdata }}</h5>
                            </div>
                        {% endfor %}
                        {% for member in current|custom_filter('lambda x: x.headline.cdata == "MMath Student"')|custom_sort(key='lambda x: x.name.cdata.split()[-1]') %}
                            <div class="col col-md-3 col-sm-6 col-12 my-4 text-center">
                                <a class="member-link" href="{{ PREFIX }}/members/{{ member.urlsafe.cdata }}.html">
                                    <div class="profile-pic-container">
                                        <img src="{{ PREFIX }}{{ member.picture.cdata }}"
                                             alt="{{ member.name.cdata }}'s profile picture"
                                             class="profile-pic">
                                    </div>
                                    <h2>{{ member.name.cdata }}</h2>
                                </a>
                                <h5>{{ member.headline.cdata }}</h5>
                            </div>
                        {% endfor %}
                        {% for member in current|custom_filter('lambda x: x.headline.cdata != "MMath Student" and x.headline.cdata != "PhD Student"')|custom_sort(key='lambda x: x.name.cdata.split()[-1]') %}
                            <div class="col col-md-3 col-sm-6 col-12 my-4 text-center">
                                <a class="member-link" href="{{ PREFIX }}/members/{{ member.urlsafe.cdata }}.html">
                                    <div class="profile-pic-container">
                                        <img src="{{ PREFIX }}{{ member.picture.cdata }}"
                                             alt="{{ member.name.cdata }}'s profile picture"
                                             class="profile-pic">
                                    </div>
                                    <h2>{{ member.name.cdata }}</h2>
                                </a>
                                <h5>{{ member.headline.cdata }}</h5>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            {% else %}

                {% if current|length != 0 %}
                    <hr>
                    <h1 class="display-6">{{ type[1] }}</h1>
                    <div class="row justify-content-center">
                        {% for member in current|custom_sort(key='lambda x: x.name.cdata.split()[-1]') %}
                            <div class="col col-md-3 col-sm-6 col-12 my-4 text-center">
                                <a class="member-link" href="{{ PREFIX }}/members/{{ member.urlsafe.cdata }}.html">
                                    <div class="profile-pic-container">
                                        <img src="{{ PREFIX }}{{ member.picture.cdata }}"
                                             alt="{{ member.name.cdata }}'s profile picture"
                                             class="profile-pic">
                                    </div>
                                    <h2>{{ member.name.cdata }}</h2>
                                </a>
                                <h5>{{ member.headline.cdata }}</h5>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            {% endif %}

        {% endfor %}

    </div>

{% endblock %}
