{% extends 'templates/layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ PREFIX }}/assets/css/members/specific.css">

{% endblock %}

{% block body %}

    {% include 'templates/navbar.html' %}

    <div class="container mt-3">

        <div class="row align-items-center">
            <div class="col col-md-2 col-sm-4">
                <div class="profile-pic-container float-end">
                    <img src="{{ PREFIX }}{{ data.picture.cdata }}" alt="{{ data.name.cdata }}'s profile picture"
                         class="profile-pic">
                </div>
            </div>
            <div class="col align-items-center">
                <h1 class="display-6">{{ data.name.cdata }}</h1>
                {% if data.headline is not none %}
                    <h3>{{ data.headline.cdata }}</h3>
                {% else %}
                    <h3>{{ data.type.cdata }}</h3>
                {% endif %}
                {% if data.website is not none %}
                    <h4><i class="fas fa-globe"></i>&nbsp;&nbsp;<a target="_blank" href="{{ data.website.cdata }}">Website</a>
                    </h4>
                {% endif %}

                {% if data.linkedin is not none %}
                    <h4><i class="fab fa-linkedin"></i>&nbsp;&nbsp;<a target="_blank" href="{{ data.linkedin.cdata }}">LinkedIn</a>
                    </h4>
                {% endif %}
                {% if data.google_scholar is not none %}
                    <h4><i class="fas fa-university"></i>&nbsp;&nbsp;<a target="_blank"
                                                                        href="{{ data.google_scholar.cdata }}">Google
                        Scholar</a>
                    </h4>
                {% endif %}
                {% if data.twitter is not none %}
                    <h4><i class="fab fa-twitter"></i>&nbsp;&nbsp;<a target="_blank" href="{{ data.twitter.cdata }}">Twitter</a>
                    </h4>
                {% endif %}
            </div>
        </div>

        {% if data.about is not none %}
            <p class="fs-4 lh-sm mt-4"><b>About</b></p>
            <div class="fs-5">{{ data.about.cdata|safe }}</div>
        {% endif %}


        {% set number_of_fields = (data.publications is not none)|int + (data.advisors is not none)|int + (data.students is not none)|int + (data.teaching is not none)|int + (data.tools is not none)|int + (data.funding_partners is not none)|int %}

        {% if number_of_fields >= 2 %}
            <hr>
            <div class="sticky-top card">
                <div class="card-body d-flex flex-row flex-wrap buttons-flex">
                {% if data.publications is not none %}
                    <a class="btn btn-primary" href="#publications">Publications</a>
                {% endif %}
                {% if data.advisors is not none %}
                    <a class="btn btn-primary" href="#advisors">Advisors</a>
                {% endif %}
                {% if data.students is not none %}
                    <a class="btn btn-primary" href="#students">Students</a>
                {% endif %}
                {% if data.teaching is not none %}
                    <a class="btn btn-primary" href="#teaching">Teaching</a>
                {% endif %}
                {% if data.tools is not none %}
                    <a class="btn btn-primary" href="#tools">Tools</a>
                {% endif %}
                {% if data.funding_partners is not none %}
                    <a class="btn btn-primary" href="#funding-partners">Funding Partners</a>
                {% endif %}
                </div>
            </div>
        {% endif %}


        {% if data.publications is not none %}
            <hr>
            <h1 id="publications" class="display-6">Publications</h1>

            {% set journal_publications = data.publications|custom_filter('lambda x: x.type.cdata == "article"') %}
            {% set conference_publications = data.publications|custom_filter('lambda x: x.type.cdata == "inproceedings"') %}
            {% set thesis_publications = data.publications|custom_filter('lambda x: x.type.cdata == "mastersthesis" or x.type.cdata == "phdthesis"') %}

            <div class="mt-3 d-flex flex-row flex-wrap buttons-flex">
                {% if journal_publications|length != 0 %}
                    <a href="#journal" class="btn btn-primary">Journal Papers</a>
                {% endif %}
                {% if conference_publications|length != 0 %}
                    <a href="#conference" class="btn btn-primary">Conference Papers</a>
                {% endif %}
                {% if thesis_publications|length != 0 %}
                    <a href="#thesis" class="btn btn-primary">Theses</a>
                {% endif %}
            </div>

            {% if journal_publications|length != 0 %}
                <h3 class="mt-3" id="journal">Journal Papers</h3>
                {% for publication in journal_publications|custom_sort('lambda x: x.years[0].urlsafe.cdata', reverse=True) %}
                    {% include 'assets/widgets/publication.html' %}
                {% endfor %}
            {% endif %}

            {% if conference_publications|length != 0 %}
                <h3 class="mt-3" id="conference">Conference Papers</h3>
                {% for publication in conference_publications|custom_sort('lambda x: x.years[0].urlsafe.cdata', reverse=True) %}
                    {% include 'assets/widgets/publication.html' %}
                {% endfor %}
            {% endif %}

            {% if thesis_publications|length != 0 %}
                <h3 class="mt-3" id="thesis">Theses</h3>
                {% for publication in thesis_publications|custom_sort('lambda x: x.years[0].urlsafe.cdata', reverse=True) %}
                    {% include 'assets/widgets/publication.html' %}
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if data.advisors is not none %}
            <hr>
            <h1 id="advisors" class="display-6">Advisors</h1>
            {% for member in data.advisors %}
                <p class="fs-4 mb-0"><a
                        href="{{ PREFIX }}/members/{{ member.urlsafe.cdata }}.html">{{ member.name.cdata }}</a></p>
                <p class="fs-5 mb-0">{{ member.type.cdata }}</p>
                <p>{{ member.headline.cdata }}</p>
            {% endfor %}
        {% endif %}

        {% if data.students is not none %}
            <hr>
            <h1 id="students" class="display-6">Students</h1>
            {% for member in data.students|custom_filter('lambda x: x.headline.cdata == "PhD Student" and x.type.cdata == "Student"')|custom_sort(key='lambda x: x.name.cdata.split()[-1]') %}
                <p class="fs-4 mb-0"><a
                        href="{{ PREFIX }}/members/{{ member.urlsafe.cdata }}.html">{{ member.name.cdata }}</a></p>
                <p class="fs-5 mb-0">{{ member.type.cdata }}</p>
                <p>{{ member.headline.cdata }}</p>
            {% endfor %}
            {% for member in data.students|custom_filter('lambda x: x.headline.cdata == "MMath Student" and x.type.cdata == "Student"')|custom_sort(key='lambda x: x.name.cdata.split()[-1]') %}
                <p class="fs-4 mb-0"><a
                        href="{{ PREFIX }}/members/{{ member.urlsafe.cdata }}.html">{{ member.name.cdata }}</a></p>
                <p class="fs-5 mb-0">{{ member.type.cdata }}</p>
                <p>{{ member.headline.cdata }}</p>
            {% endfor %}
            {% for member in data.students|custom_filter('lambda x: (x.headline.cdata != "MMath Student" and x.headline.cdata != "PhD Student") or (x.type.cdata != "Student")')|custom_sort(key='lambda x: x.name.cdata.split()[-1]') %}
                <p class="fs-4 mb-0"><a
                        href="{{ PREFIX }}/members/{{ member.urlsafe.cdata }}.html">{{ member.name.cdata }}</a></p>
                <p class="fs-5 mb-0">{{ member.type.cdata }}</p>
                <p>{{ member.headline.cdata }}</p>
            {% endfor %}
        {% endif %}

        {% if data.teaching is not none %}
            <hr>
            <h1 id="teaching" class="display-6">Teaching</h1>
            {% for course in data.teaching %}
                {% with show_semesters=True %}
                    {% include 'assets/widgets/teaching.html' %}
                {% endwith %}
            {% endfor %}
        {% endif %}

        {% if data.tools is not none %}
            <hr>
            <h1 id="tools" class="display-6">Tools</h1>
            {% for tool in data.tools %}
                {% include 'assets/widgets/tool.html' %}
            {% endfor %}
        {% endif %}


        {% if data.funding_partners is not none %}
            <hr>
            <h1 id="funding-partners" class="display-6">Funding Partners</h1>

            <div id="masonry-layout" class="row row-cols-sm-1 row-cols-lg-2">
                {% for funding_partner in data.funding_partners %}
                    <div class="col">
                        {% include 'assets/widgets/funding-partner.html' %}
                    </div>
                {% endfor %}
            </div>


        {% endif %}

    </div>

    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <script>
        const masonry = new Masonry( '#masonry-layout', {"percentPosition": true });

        imagesLoaded( '.container', function() {
            masonry.layout();
        });
    </script>


{% endblock %}
