<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ current_page }} - SWAG Lab</title>
        <link rel="stylesheet" href="{{ PREFIX }}/assets/css/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
              integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
              crossorigin="anonymous">
        <link rel="icon" type="image/png" href="{{ PREFIX }}/assets/img/favicon.png"/>
        {% block head %}
        {% endblock %}
    </head>

    <body>

        {% block body %}
        {% endblock %}

        <ul class="nav justify-content-center credits pt-4 pb-3">
            <li class="nav-item">
                <h6>Designed and built by <a target="_blank" href="https://vishnus.me">Vishnu Satish</a></h6>
            </li>
        </ul>

        {% include 'assets/widgets/copy-toast.html' %}

        <script src="{{ PREFIX }}/assets/js/bootstrap.min.js"></script>
        <script src="{{ PREFIX }}/assets/js/main.js"></script>

    </body>

</html>