<nav class="navbar navbar-expand-md navbar-dark mb-2 py-3 bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ PREFIX }}/"><img height="30px" width="119.3px" src="{{ PREFIX }}/assets/img/SWAGLogoWhite.png" alt="SWAG Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for page in navbar %}
                    <li class="nav-item">
                        {# If it is the current page's navbar item #}
                        {% if page.name.cdata == current_page %}
                            <a class="nav-link active" aria-current="page" href="{{ PREFIX }}/{{ page.urlsafe.cdata }}.html">{{ page.name.cdata }}</a>
                        {% else %}
                            <a class="nav-link" href="{{ PREFIX }}/{{ page.urlsafe.cdata }}.html">{{ page.name.cdata }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</nav>