{% extends 'templates/layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ PREFIX }}/assets/css/job-vacancies/all.css">

{% endblock %}

{% block body %}

    {% include 'templates/navbar.html' %}

    <div class="container">

        <h1 class="display-5">Job Vacancies</h1>

        <hr>

        {% for job in job_vacancies %}

            <p class="fs-3"><a href="{{ PREFIX }}/job-vacancies/{{ job.urlsafe.cdata }}.html">{{ job.name.cdata }}</a></p>

        {% endfor %}

    </div>

{% endblock %}