{% extends 'templates/layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ PREFIX }}/assets/css/job-vacancies/specific.css">

{% endblock %}

{% block body %}

    {% include 'templates/navbar.html' %}

    <div class="container">
        <h1>Job Vacancy: {{ data.name.cdata }}</h1>
        <h3 class="my-3">Position Overview</h3>

        {% if data.type is not none %}
            <p class="fs-5 lh-1"><b>Job Type:</b> {{ data.type.cdata }}</p>
        {% endif %}

        {% if data.project is not none %}
            <p class="fs-5 lh-1"><b>Project:</b> {{ data.project.cdata }}</p>
        {% endif %}

        {% if data.start_date is not none %}
            <p class="fs-5 lh-1"><b>Targeted Start Date:</b> {{ data.start_date.cdata }}</p>
        {% endif %}

        {% if data.duration is not none %}
            <p class="fs-5 lh-1"><b>Duration:</b> {{ data.duration.cdata }}</p>
        {% endif %}

        {% if data.details is not none %}
            <h3 class="mb-2 mt-4">Project Details</h3>
            <div class="fs-5 lh-sm">{{ data.details.cdata|safe }}</div>
        {% endif %}

        {% if data.requirements is not none %}
            <h3 class="mb-2 mt-4">Job Requirements</h3>
            <div class="fs-5">{{ data.requirements.cdata|safe }}</div>
        {% endif %}

        <h3 class="mb-2 mt-4">Application Contents</h3>
        <div class="fs-5">
            To apply for the position, create an application package with the following contents:
            <ul>
                <li>A brief statement of interest (one page maximum)</li>
                <li>A detailed CV</li>
                <li>Contact information for two references</li>
            </ul>
        </div>

        <h3 class="mb-2 mt-4">Application Procedure</h3>
        <p class="fs-5">Send an email to me.</p>

        <h3 class="mb-2 mt-4">Research Environment</h3>
        <p class="fs-5">The mission of the SWAG lab is to research software architecture by mining repositories in a large-scale operation.</p>

        <h3 class="mb-2 mt-4">Questions?</h3>
        <p class="fs-5">Send an email to me.</p>

    </div>

{% endblock %}