{% extends 'templates/layout.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% include 'templates/navbar.html' %}

<div class="container">

    <h1 class="display-5">Welcome to University of Waterloo SWAG Lab!</h1>

</div>

{% endblock %}