{% extends 'templates/layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ PREFIX }}/assets/css/funding-partners/all.css">

{% endblock %}

{% block body %}

    {% include 'templates/navbar.html' %}

    <div class="container">

        <h1 class="display-5">Funding Partners</h1>

        <div id="masonry-layout" class="row row-cols-sm-1 row-cols-lg-2">
            {% for funding_partner in funding_partners %}
                <div class="col">
                    {% include 'assets/widgets/funding-partner.html' %}
                </div>
            {% endfor %}
        </div>

    </div>

    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <script>
        const masonry = new Masonry( '#masonry-layout', {"percentPosition": true });

        imagesLoaded( '.container', function() {
            masonry.layout();
        });
    </script>

{% endblock %}
