@use '../variables' as *;

body {
    background-color: $gray-background;
}

.profile-pic {
    // Uncomment below lines when aspect-ratio is supported on all browsers!!!
    // width: 70%;
    // object-fit: cover;
    // aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 4px black solid;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 22%;
    transition: 0.3s;
}

.profile-pic-container {
    width: 70%;
    position: relative;
}

.profile-pic-container::after {
    padding-bottom: 100%;
    content: "";
    display: block;
}

.profile-pic:hover {
    box-shadow: 0 10px 19px 5px rgba(0, 0, 0, 0.3);
}
