@use '../components/badge-hover';
@use '../components/card-hover';

body {
    background-color: rgb(245, 245, 245);
}


.profile-pic {
    // Uncomment below lines when aspect-ratio is supported on all browsers!!!
    // width: 70%;
    // object-fit: cover;
    // aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 4px black solid;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-pic-container {
    width: 100%;
    position: relative;
}

.profile-pic-container::after {
    padding-bottom: 100%;
    content: "";
    display: block;
}

[id] {
    scroll-margin-top: 5rem;
}

@media only screen and (max-width: 528px) {
    [id] {
        scroll-margin-top: 8rem;
    }
}

.buttons-flex {
    gap: 0.5rem;
}