.badge:not(.non-clickable-user) {
  transition: 0.07s;
}

.badge:not(.non-clickable-user):hover {
  background-color: #820a26 !important;
  color: white !important;
}

.card-hover:hover {
  box-shadow: 0 14px 14px 2px rgba(0, 0, 0, 0.1);
}

.card-hover {
  transition: 0.3s;
}

body {
  background-color: whitesmoke;
}

/*# sourceMappingURL=specific.css.map */
