<!-- TO DO -->

{% extends 'templates/layout.html' %}

{% block head %}

<link rel="stylesheet" href="{{ PREFIX }}/assets/css/teaching/all.css">

{% endblock %}

{% block body %}

{% include 'templates/navbar.html' %}

<div class="container">

    <h1 class="display-5">Teaching</h1>

    {% for course in teaching %}

        {% include 'assets/widgets/teaching.html' %}

    {% endfor %}

</div>

{% endblock %}