{% extends 'templates/layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ PREFIX }}/assets/css/teaching/specific.css">

{% endblock %}

{% block body %}

    {% include 'templates/navbar.html' %}

    <div class="container mt-3">

        <h1 class="display-6">{{ data.name.cdata }}</h1>

        {# If the course's description is defined, then display it #}
        {% if data.description is not none %}
            <p class="fs-4"><b>Description:</b> {{ data.description.cdata }}</p>
        {% endif %}

        {% if data.members is not none %}
            <p class="fs-4"><b>Taught By:</b></p>
            {% for member in data.members %}
                <p class="fs-4">
                    <a href="{{ PREFIX }}/members/{{ member.urlsafe.cdata }}.html">
                        <span class="badge bg-secondary text-dark">{{ member.name.cdata }}</span>
                    </a>
                    {% if data.semesters|custom_attr(get_safe_tag_name(member.urlsafe.cdata)) is not none %}
                    - {{ (data.semesters|attr(get_safe_tag_name(member.urlsafe.cdata))).cdata|safe }}
                    {% endif %}
                </p>
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}
