{% extends 'templates/layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ PREFIX }}/assets/css/years/specific.css">

{% endblock %}

{% block body %}

    {% include 'templates/navbar.html' %}

    <div class="container mt-3">

        <h1 class="display-5">Year: {{ data.urlsafe.cdata }}</h1>


        {% if data.publications is not none %}
            <hr>
            <h1 class="display-6">Publications</h1>
            {% set publications = data.publications %}
            {% include 'assets/widgets/all-publications.html' %}
        {% endif %}

    </div>

{% endblock %}
